doctype html

html(lang="zh_tw")
	head
		meta(name="google-site-verification" content="RLjVetZAxP_27dxDqPFDl2setLNKa6iT8ru2mZVBums")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1" charset="utf-8")
		link(rel="Shortcut Icon" type="image/x-icon" href="/img/favicon.ico")

		meta(property="og:type", content="article")
		meta(property="og:url", content="https://stust.mks.tw/")
		meta(property="og:image", content="/img/logo.png")
		meta(property="og:title", content="STUST-南臺學生總管")
		meta(property="og:description", content="整合學校各項功能並優化使用者體驗的網頁服務。")


		block title
			title Default Title

		//- jquery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

		//- colorBox
		script(src="/colorbox/jquery.colorbox-min.js" defer="defer")
		link(href="/colorbox/colorbox.min.css", rel="stylesheet" defer="defer")


		//- Bootstrap CSS
		link(href="/css/darkly.bootstrap.min.css", rel="stylesheet" defer="defer")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" defer="defer")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" defer="defer")

		//-Google 字體
		link(rel="stylesheet", href="https://fonts.googleapis.com/earlyaccess/cwtexhei.css" defer="defer")
		link(rel="stylesheet", href="https://fonts.googleapis.com/earlyaccess/cwtexming.css" defer="defer")
		
		//- 修正字體
		link(rel="stylesheet", href="/css/font.min.css" defer="defer")


		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		style.
			.navbar { background-color: transparent; }

	body()
		
		block content

		.foot
			div(style='position:absolute; bottom: 0px; right: 0px;')
			
				| By STUST(
				a(href='/about') CSIE 103
				|) Graduated.

		